<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title> <!-- название страницы -->
</head>
<body>
	<h1>{{ title }}</h1> <!--жирным шрифтом меню:-->
	<table border="1"> <!-- начало таблицы -->
	<tr> <!-- шапка таблицы -->
		<th>&nbsp;</th><!-- &nbsp; - пустой-->
		<th>Наиметование</th>
		<th>Цена</th> 
		<th>Количество</th>
	</tr> <!-- конец шабки таблицы -->
	{% for item in goods reversed %}    <!-- цикл в шаблонизаторе, reversed сортировка в шаблонизаторе в обратном порядке -->
		<tr>
			<td>
				{% if forloop.first %} <!-- первый номер -->
					<span style="color:green"> {{forloop.counter}} </span> <!-- если первый номер, то зелёный-->
				{% elif forloop.last %}
					<span style="color:blue"> {{forloop.counter}} </span>  <!-- если последний номер, то синий-->
				{% else %}
					<span style="color:black"> {{forloop.counter}} </span> <!-- все остальные черные-->
				{% endif %}
			</td> <!-- номер строки --> 
			
			<td>{{item.name}}</td>
			<td>{{item.uint_to_kg}}</td> <!-- метод uint_to_kg меняет значение объекта uint-->
										 <!-- если атрибут alters_data равна True, вызов метода из шаблона запрещена -->
			{% ifequal item.unit 'шт.' %} <!-- если количество равно шт.-->
				<td> 
					<span style="color:red"> {{item.unit}} </span> <!-- вывести красным цветом-->
				</td>
			{% else %} <!-- иначе -->
				<td>{{item.unit}} </td> 
			{% endifequal %}

		</tr>
	{% empty %} <!-- если список пустой -->
		<tr><td colspan='4'> List is empty! </td>></tr>
	{% endfor %} <!-- конец цикла -->
	</table>
	
</body>
</html>